<header class="header">
  <button class="intem1">menu</button>
  <p class="intem2"><a href="">test1</a></p>
  <p class="intem3"><a href="">test2</a></p>
</header>
<hr>


<nav class="nav">
  <a href="#" class="intem_nav">Início</a>
  <a href="#">Vídeos</a>
  <a href="#">Camisas</a>
  <a href="#">Agenda</a>
  <a href="#">Funcionários</a>
  <a href="#">Contato</a>
  <a href="#">Blog</a>
  <a href="#">Matrículas</a>
</nav>

<hr>
<p href="#"><span class="testm">Início</span></p>
<p href="#">Camisas</p>
<p href="#">Agenda</p>
<p href="#">Funcionários</p>
<p href="#">Contato</p>
<p href="#">Blog</p>
<p href="#">Matrículas</p>
<hr>

<div class="header2">
<h1 class="it-1">Meu Header</h1>
</div>
<div>

<div class="caixa">
  <div class="coluna-left">

    <mat-card class="cardLeft-1">

      <iframe width="255" height="125" src="https://www.youtube.com/embed/ASYvbdFu2Us" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <a class="min-title">Collum1</a>
      <a class="min-subscription">Trump says 'temperature has to be brought down' after FBI raid...
      </a>
      <hr class="separador">
    </mat-card>

    <mat-card class="cardLeft-1">

      <iframe width="255" height="125" src="https://www.youtube.com/embed/ASYvbdFu2Us" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <a class="min-title">Collum1</a>
      <a class="min-subscription">Trump says 'temperature has to be brought down' after FBI raid...
      </a>
    </mat-card>


  </div>

  <div class="coluna-main">
    <h1>Main</h1>
  </div>

  <div class="coluna-right">
    <h1>Collum2</h1>
  </div>

</div>
