<p *ngFor="let alert of alerts">
  <ngb-alert class="alert" (closed)="close(alert)">{{ alert.message }}<a href="http://www.foxnews.com" class="alert-link" target="_blank">www.foxnews.com</a></ngb-alert>
</p>

<p>
  <mat-toolbar class="toolbar">
    <img class="img-angular" src="assets\angular.png" routerLink="/">
    <button mat-button [matMenuTriggerFor]="belowMenu" class="menu-button">Templates</button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
      <button mat-menu-item class="buttons" routerLink="event-bind">Bind</button>
      <button mat-menu-item class="buttons" routerLink="event-bind2">Bind2</button>
      <button mat-menu-item class="buttons" routerLink="string-interpolation">String-Interpolation</button>
      <button mat-menu-item class="buttons" routerLink="property-bind">Property-Bind</button>
      <button mat-menu-item class="buttons" routerLink="two-way-data-binding">Two-Way Binding</button>
      <button mat-menu-item class="buttons" routerLink="pipes">Pipes</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="belowMenu2" class="menu-button">Diretivas</button>
    <mat-menu #belowMenu2="matMenu" yPosition="below">
      <button mat-menu-item class="buttons" routerLink="diretivas-de-atributo">Diretivas de Atributo</button>
      <button mat-menu-item class="buttons" routerLink="diretivas-estruturais">Diretivas Estruturais</button>
    </mat-menu>

  </mat-toolbar>
  <router-outlet></router-outlet>
</p>

