<p>
  <mat-toolbar class="toolbar" >
    <img class="img-angular" src="assets\angular.png">
    <a button mat-raised-button class="buttons" routerLink="/">Home</a>
    <a button mat-raised-button class="buttons" routerLink="event-bind">Bind</a>
    <a button mat-raised-button class="buttons" routerLink="string-interpolation">String-Interpolation</a>
    <a button mat-raised-button class="buttons" routerLink="property-bind">Property-Bind</a>
  </mat-toolbar>
  <router-outlet></router-outlet>
</p>
