<h1 class="titulo1">Novo comonente para testes de botões!</h1>

<section>

  <div class="example-button-row">
    <button class="abc20" mat-raised-button>Basic</button>
    <button class="abc21" mat-raised-button>Sign Up!</button>
    <button class="abc22" mat-flat-button >Accent</button>
    <button class="abc23" mat-raised-button >Warn</button>
    <button class="abc24" mat-raised-button >Abled</button>
    <a class="abc25" mat-raised-button href="https://www.foxnews.com/" target="_blank">Link</a>
  </div>
</section>
